
a{
  text-decoration: none;
}

button{
  cursor: pointer;
}

#springlogo{
  margin-top:5px;
  height: 48px;
}

.app-header{
  padding: 8px;
  position: relative;
  background: #fff;
  border-bottom: 1px solid #ebf2f2;
}

.nav-container{
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1140px;
  padding: 0 20px;
}

.desktop-nav{
  list-style: none;
  display: flex;
  width: 715px;
  height: 57px;
  padding-top: 20px;
  justify-content: space-between;
}

.nav-item{
  position: relative;
  height: 100%;
  font-weight: 700;
  font-size: 0.9rem;
  color: var(--color-black);
  cursor: default;
}

.nav-link{
  color: var(--color-black);
  transition: all .2s;
  text-decoration: none;
}
.nav-link:hover{
  color: var(--color-green);
}

.drop-menu{
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  top: 45px;
  left: -25px;
  width: 210px;
  padding: 30px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 5px 30px 0 rgba(108,135,135,.5);
  transition: all .2s ease-in-out;
}

.sublink{
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 7px;
}

.nav-item:focus-within .drop-menu, 
.nav-item:hover > .drop-menu,
.drop-menu:hover
{
  display: block;
  visibility: visible;
  opacity: 1;
}

.drop-arrow{
  display: inline-block;
  padding: 3px;
  margin-left: 5px;
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: var(--color-black);
  transform: rotate(45deg) translateY(-6px)
}

.overlay{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--color-black);
  padding: 80px 60px 60px 40px;
  overflow: scroll;
  z-index: 1000;
}

.nav-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.container{
  width: 100%;
}

.menu-item{
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid #666;
  cursor: default;
  position: relative;
}

.sub-item{
  color: #98afae;
  font-size: 1.3rem;
  font-weight: 500;
  width: 100%;
  padding: 5px 0;
  cursor: default;
}

.sub-item a{
  color: #98afae;
  text-decoration: none;
}
.sub-item a:hover{
  color: #6db33f;
}

.menu-item a{
  color: inherit;
}

.open-btn{
  display: none;
  height: 25px;
  width: 25px;
  background-image: url('../../assets/images/menu.svg');
  transition: background-image .1s linear;
}

.open-btn:hover{
  background-image: url('../../assets/images/menu-hover.svg');
}

.close-btn{
  position: absolute;
  right: 20px;
  top: 20px;
  height: 20px;
  width: 20px;
  padding: 0;
  background-image: url('../../assets/images/close.svg');
  background-position: center;
  background-size: contain;
}
.submenu{
  display: none;
}
.desktop-nav .logout-btn{
  background-color: transparent;
  color: var(--color-cyan-dark);
  font: inherit;
  border: none;
  padding: 0;
  transition: all .1s linear;
}

.desktop-nav .logout-btn:focus, .desktop-nav .logout-btn:hover{
  outline: none;
  color: var(--color-green);
}
.overlay .logout-btn{
  margin-top: 30px;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  transition: all .1s linear;
}

.overlay .logout-btn:hover, .overlay .logout-btn:focus{
  outline: none;
  border-color: var(--color-green);
  background-color: var(--color-green);
}

@media(max-width: 900px){
  #springlogo{
    margin-top:5px;
    height: 30px;
  }

  .open-btn{
    display: block;
  }

  .overlay{
    display: block;
    transform: translateY(-110%);
    transition: all .3s ease-in;
  }

  .overlay.expaned{
    transform: translateY(0%);
  }

  .desktop-nav{
    display: none;
  }

  .drop-arrow{
    position: absolute;
    right: 10px;
    top: 25px;
    padding: 5px;
    border-style: solid;
    border-width: 0 2px 2px 0;
    border-color: #98afae;
    transform: rotate(45deg);
    transition: all .2s linear;
  }
  .drop-arrow.expaned{
    transform: rotate(45deg) scale(-1, -1)  ;
  }
  .submenu.expaned{
    display: block;
    visibility: visible;
  }
}
