@font-face {
  font-family: "Open Sans";
  font-weight: 500;
  src: 
    local("Open Sans"),
    url("./assets/fonts/OpenSans-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  src: 
    local("Open Sans"),
    url("./assets/fonts/OpenSans-SemiBold.ttf") format('truetype');
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  src: 
    local("Open Sans"),
    url("./assets/fonts/OpenSans-Bold.ttf") format('truetype');
}
:root{
  --color-black: #191e1e;
  --color-gray: #333;
  --color-cyan-light: #d9e9e9;
  --color-cyan: #9bb9b8;
  --color-cyan-dark: #578a8a;
  --color-green: #6db33f;
}
*{
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  color: var(--color-black);
  height: 100%;
}
html {
  font-size: 100%;
  font-family: Open Sans, sans-serif;
  overflow-x: hidden;
  height: 100%;
}
#root{
  min-height: 100%;
  display: flex;
}
.app-container {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-container{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.hero{
  padding: 20px;
  max-width: 1140px;
  margin: 60px auto;
}

.hero-title{
  font-size: 3.75rem;
  margin-bottom: 15px;
  color: var(--color-black);
}

.hero-text{
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--color-gray);
}

.content {
  background-color: #ebf2f2;
  padding: 30px 0;
  flex-grow: 1;
}

.projects-list{
  max-width: 1000px;
  width: 100%;
  padding: 0 20px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.project-item{
  display: flex;
  background-color: #fff;
  border: 1px solid var(--color-cyan-light);
  width: 45%;
  margin: 10px;
  padding: 40px 30px;
  margin-bottom: 15px;
  text-decoration: none;
  border-radius: 5px;
  transition: all .2s linear;
}

.project-item:hover, .project-item:focus{
  outline: none;
  transform: translateY(-3px);
  top: -3px;
  box-shadow: 0 10px 20px 0 rgba(108,135,135,.2);

}
.project-info{
  flex-grow: 1;
  padding: 10px 20px;
}

.project-info h3{
  font-size: 1.5rem;
  color: var(--color-black);
  margin-bottom: 5px;
}
.project-info p{
  color: var(--color-gray);
  line-height: 1.7em;
}
.project-icon{
  max-height: 80px;
  width: 80px;
  padding: 20px 10px;
}
.icon{
  width: auto;
  height: 100%;
}
.icon-btn{
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.icon-btn:focus{
  outline: none;
  filter: brightness(110%)
}
.search-container{
  margin: auto;
  max-width: 900px;
  width: 100%;
  padding: 0 40px;
}

.searchbar{
  position: relative;
  width: 500px;
  height: 60px;
}

.search-input{
  width: 40%;
  font-size: 1.6rem;
  background-color: transparent;
  border:none;
  border-bottom: 2px solid #d9e9e9;
  color: var(--color-black);
  padding: 5px;
  padding-left: 40px;
  transition: all .2s linear;
}

.search-input:focus{
  width: 100%;
  outline: none;
  border-color: var(--color-cyan-dark);
}

.searchbar::before{
  content: "";
  position: absolute;
  height: 26px;
  width: 26px;
  top: 8px;
  left: 5px;
  background-image: url('./assets/images/search.svg');
  background-position: center;
  background-size: contain;
}

.message-container{
  margin: 60px auto;
  text-align: center;
}

.big-msg{
  font-size: 2.5rem;
  font-weight: 600;
  margin: auto;
  padding: 30px;
}

.container-title{
  font-size: 3rem;
  margin-bottom: 2rem;
  color: var(--color-gray);
}

.auth-container{
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin:auto;
  padding: 20px;
  max-width: 1140px;

  /* background-color: var(--color-cyan-light); */
  
}

.auth{
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  flex-grow: 1;
  max-width: 500px;
}

label{
  cursor: pointer;
}
.input{
  width: 100%;
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  color: var(--color-black);
  margin-bottom: 1em;
  padding: 15px 10px 10px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent transparent #578a8a transparent ;
  opacity: 80%;
  border-radius: 5px;
  transition: all .1s linear;
}

.input::placeholder{
  color: var(--color-cyan);
  font-weight: 500;
}

.input:focus{
  outline: none;
  border-color: var(--color-cyan-dark);
  background-color: var(--color-cyan-light);
  opacity: 100%;
  border: 2px solid var(--color-cyan-dark);
}

.input-label{
  color: var(--color-cyan-dark);
  font-size: 1.3rem;
}

.img{
  width: 500px;
  height: auto;
}
.submit-btn{
  background-color: var(--color-gray);
  padding: 12px 25px;
  border: none;
  border-radius: 3px;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  margin: 20px auto 0;
  transition: all .2s linear;
}

.submit-btn:focus, .submit-btn:hover{
  background-color: var(--color-green);
  outline: none;
}


.background-img{
  background-image: url("./assets/images/why-spring.svg");
  background-size: contain;
  background-position-x: right;
  background-repeat: no-repeat;
}

@media(max-width: 1100px){
  .img{
    width: 400px;
  }
}

@media(max-width: 800px){
  .project-item{
    width: 100%;
  }
  :root{
    font-size: 14px;
  }
  .searchbar::before{
    height: 24px;
    width: 24px;
  }
  .img-container{
    display: none;
  }
  .auth-container{
    justify-content: center;
  }
}
  