@font-face {
  font-family: "Open Sans";
  font-weight: 500;
  src: 
    local("Open Sans"),
    url("./assets/fonts/OpenSans-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  src: 
    local("Open Sans"),
    url("./assets/fonts/OpenSans-SemiBold.ttf") format('truetype');
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  src: 
    local("Open Sans"),
    url("./assets/fonts/OpenSans-Bold.ttf") format('truetype');
}

*{
  margin: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
}
html {
  font-size: 100%;
  font-family: Open Sans, sans-serif;
  overflow-x: hidden;
}

#springlogo{
  margin-top:5px;
  height: 48px;
}

.main-header{
  padding: 8px;
  position: relative;
  background: #fff;
  border-bottom: 1px solid #ebf2f2;
}

.nav-container{
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1140px;
}

.nav-link{
  font-weight: 600;
  color: #191e1e;
  text-decoration: none;
  transition: all .2s;
}

.nav-link:hover{
  color: #6db33f;
}

.nav-links{
  list-style: none;
  display: flex;
}

.nav-links>li{
  position: relative;
  margin-right: 40px;
}

.drop-menu{
  opacity: 0;
  z-index: 10;
  position: absolute;
  top: 50px;
  width: 230px;
  padding: 30px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 5px 30px 0 rgba(108,135,135,.5);
  transition: all .2s ease-in;
}

.sublinks{
  list-style: none;
  padding: 0;
}

.sublinks>li{
  margin-bottom: 6px;
}

.sublink{
  margin-bottom: 3px;
  font-weight: 500;
}

.dropdown:hover .drop-menu{
  opacity: 1;
}

.drop-arrow{
  display: inline-block;
  padding: 3px;
  margin-left: 5px;
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: #191e1e;
  transform: rotate(45deg) translateY(-6px)
}

.hero{
  padding-top: 80px;
  max-width: 1140px;
  margin: auto;
  margin-bottom: 80px;
}

.hero-title{
  font-size: 3.75rem;
  margin-bottom: 15px;
  color: #191e1e;
}

.hero-text{
  font-size: 1.5rem;
  font-weight: 400;
  color: #333;
}

.content {
  background-color: #ebf2f2;
  padding: 50px 0;
}

.projects-list{
  max-width: 1140px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.project-item{
  display: block;
  background-color: #fff;
  border: 1px solid #d9e9e9;
  width: 450px;
  margin: 10px;
  padding: 40px 30px;
  margin-bottom: 25px;
  text-decoration: none;
  border-radius: 5px;
  transition: all .2s;
}

.project-item:hover{
  transform: translateY(-3px);
  top: -3px;
  box-shadow: 0 10px 20px 0 rgba(108,135,135,.2);

}

.project-info h3{
  color: #191e1e;
  margin-bottom: 5px;
}
.project-info p{
  color: #333;
}

@media(max-width: 1100px){
  #springlogo{
    margin-top:5px;
    height: 30px;
  }
}