@font-face {
  font-family: "Open Sans";
  font-weight: 500;
  src: 
    local("Open Sans"),
    url("./assets/fonts/OpenSans-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  src: 
    local("Open Sans"),
    url("./assets/fonts/OpenSans-SemiBold.ttf") format('truetype');
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  src: 
    local("Open Sans"),
    url("./assets/fonts/OpenSans-Bold.ttf") format('truetype');
}

*{
  margin: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  color: #191e1e;
}
html {
  font-size: 100%;
  font-family: Open Sans, sans-serif;
  overflow-x: hidden;
}

.hero{
  padding:20px;
  max-width: 1140px;
  margin: 80px auto;
}

.hero-title{
  font-size: 3.75rem;
  margin-bottom: 15px;
  color: #191e1e;
}

.hero-text{
  font-size: 1.5rem;
  font-weight: 400;
  color: #333;
}

.content {
  background-color: #ebf2f2;
  padding: 50px 0;
}

.projects-list{
  max-width: 1000px;
  width: 100%;
  padding: 0 20px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.project-item{
  display: flex;
  background-color: #fff;
  border: 1px solid #d9e9e9;
  width: 45%;
  margin: 10px;
  padding: 40px 30px;
  margin-bottom: 25px;
  text-decoration: none;
  border-radius: 5px;
  transition: all .2s;
}

.project-item:hover{
  transform: translateY(-3px);
  top: -3px;
  box-shadow: 0 10px 20px 0 rgba(108,135,135,.2);

}
.project-info{
  flex-grow: 3;
  padding: 10px 20px;
}

.project-info h3{
  font-size: 1.5rem;
  color: #191e1e;
  margin-bottom: 5px;
}
.project-info p{
  color: #333;
  line-height: 1.7em;
}
.project-icon{
  max-height: 80px;
  flex-grow: 2;
  padding: 20px 10px;
}
.icon{
  width: auto;
  height: 100%;
}

@media(max-width: 800px){
  .project-item{
    width: 100%;
  }
  :root{
    font-size: 14px;
  }
}
  